extends layout

block main
  - if (chapter.draft) {
    .page-alert
      p
        | 本章目前還是草稿，內容有任何需要補充或修正的地方都歡迎與我們
        a(href="https://github.com/nodejs-tw/nodejs-book-beginner-guide/issues")
          | 聯繫
        | 。
  - }

  h1.page-title
    = chapter.name

  - each(sections, function (section) {
    section.section(id='section-' + section.number)
      h3.section-title
        a.section-link(href=chapter.uri + '#section-' + section.number)
          i.fa.fa-link
        = section.name
      != section.content
  - });
