doctype html
html(lang="zh-TW")
  head
    meta(charset="utf-8")

    - if (isIndex) {
      title= book.name
    - } else {
      title= chapter.name + ' | ' + book.name
    - }
    
    link(rel="stylesheet", href="/normalize.css")
    link(rel="stylesheet", href="/style.css")

    body

      header.page-header
        .container
          h1.site-name
            = book.name
          h2.site-description
            = book.description
          a(href="https://github.com/nodejs-beginner-guide")
            img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub", data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png")

      main.page-body
        .container
          block main

      footer.page-footer
        .container
          p
            | Copyright©2014 NodeJS.TW
          p
            | 所有內容以
            a(href="http://creativecommons.org/licenses/by-nc-sa/3.0/tw/") 創用 CC 授權
            | 釋出
          p
            | 網頁最後更新時間 
            = time
